.guitar{
    text-align: center;
    padding: 30px;   
    width: 250px; 
    height: 650px;
    margin-left: 0px;
    text-decoration: none;
    
}

.guitar img{
    
    object-fit: cover;
    margin-bottom: 20px;
    text-align: center;
    height: 400px;
   
    
}

.card p{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
    
}

