.guitar{
    text-align: center;
    padding: 20px;   
    width: 250px; 
    height: 650px;
    margin-left: 20px;
    text-decoration: none;
    
}

.guitar img{
    width: 140px;
    object-fit: cover;
    margin-bottom: 20px;
    text-align: center;
   
    
}

.card p{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
    
}

.guitar p{
    color: black;
}