.contenedor-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px -20px 0px;
       
}

.icon-electric{
    width: 90px;
    
}

.p-electric{
    margin-top: 3px;
    font-size: 12px;
    font-weight: 500;
    color: black;
    
}

.link-title{
    text-decoration: none;
}
