.titulo-carousel h3{
    font-size: 30px;
    text-align: left;
    margin-top: 0px;
    margin-left: -80px;
    font-weight: bold;
}
.titulo-carousel p{
    font-size: 15px;
    text-align: left;
    margin-bottom: 170px;
    margin-left: -80px;
}

.titulo-carousel2 h3{
    font-size: 35px;
    text-align: left;
    margin-top: 0px;
}
.titulo-carousel2 p{
    font-size: 16.5px;
    text-align: left;
    margin-bottom: 170px;
}
.titulo-carousel3 h3{
    font-size: 30px;
    text-align: left;
    margin-top: 0px;
}
.titulo-carousel3 p{
    font-size: 16.5px;
    text-align: left;
    margin-bottom: 170px;
}

