.total-price{
    font-weight: bold;
    margin-top: 200px;
    font-size: 20px;
}

.carrito-vacio{
    font-size: 20px;
    font-weight: bold;
}

/* .realizar-compra{
 font-size: 20px;
 text-decoration: none;
 color: black;
} */

.loguito-cart img{
    width: 30px;
}