.total-price{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}

.carrito-vacio{
    font-size: 20px;
    font-weight: bold;
}

.button-terminar{
    margin-bottom: 30px;
    margin-top: 0px;
}

.loguito-cart img{
    width: 30px;
}