.total-price{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 16px;
}

.carrito-vacio{
    font-size: 15px;
    font-weight: bold;
    padding: 0px;
}

.button-terminar{
    margin-bottom: 30px;
    margin-top: 0px;
}

.loguito-cart img{
    width: 30px;
    margin-top: 30px;
}

.realizar-compra{
    margin-bottom: 30px;
}

.completar-formulario{
    font-size:20px;
    margin-top: 100px;
}

.form-orden{
    padding: 50px;
    width: 500px;
    height: 691px;
    background-color: rgb(237, 237, 237);
    opacity: 0.95;
    
}



.titulo-orden{
    color: #000000;
    font-size: 30px;
    font-weight: bolder;
    background-color: #EDEDED;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -10px;
    
    
}

.button-compra{
    margin-bottom: 20px;
}

.background-image{
    background-image: url(/public/3fenders2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -48px;
    background-size: 100%;
    background-position-x: 0px ;
    background-position-y: 130px;
    
    
}

.vaciar-carrito{
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtitulo-orden{
    font-size: 20px;
    font-weight: 500;
    margin: -20px 0px 20px 0px;
}

@media screen and (max-width: 600px) {

    .form-orden{
        padding: 50px;
        width: 370px;
        height: 751px;
                
    }

    .loguito-cart img{
        width: 10px;
        margin-top: 30px;
    }

}


