.footer-flex{
    background-color: black;
    display: flex;
    justify-content: space-around;
    text-align: left;
    height: 380px;
    margin-top: 0px;
   
    
}
.footer-flex ul{
    padding: 50px;
    margin-top: 20px;
    font-size: 15px;
    color: rgb(174, 174, 174);
    list-style: none;
    line-height: 35px;
    
}

.footer-flex ul h6{
    color: white;
}
.icons{
    display: flex;
    align-items: left;
    justify-content: space-around;
    margin-top: 20px;    

}

.logo-fender {
    margin-top: 90px;
}

.inner:hover {
    transform: scale(1.5);
    transition-duration: 0.1s;
}

@media screen and (max-width: 400px) {
    .footer-flex{
        background-color: black;
        display: flex;
        justify-content: space-around;
        text-align: left;
        height: auto;
        width: auto;
        margin-top: 0px;
       
        
    }

    .footer-flex ul{
        display: none;
        
    }

    .logo-fender img{
        width: 200px;
        margin-top: -30px;
        margin-bottom: 50px;
        
    }

    

    .mediaq{
        display: none;
    }
}

@media screen and (max-width: 800px) {

    .mediaq{
        display: none;
    }

    .logo-fender img{
        width: 100px;
        margin-left: 10px;
        
    }

}

@media screen and (max-width: 1280px) {

    .mediaq{
        display: none;
    }

    .logo-fender{
        width: fit-content;
    }

}