.contador {
    width: fit-content;
    margin: auto;
    text-align: center;
    color: black;
    font-size: 15px;
}

div span {
    padding: 33px;
    font-weight: bold;
    font-size: 15px;

}

div button {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .contador {
        width: 150px;
        margin: auto;
        text-align: center;
        color: black;
        font-size: 10px;
    }

    div button {
        color: rgb(255, 255, 255);
        border-radius: 10px;
        border: none;
        margin-top: 15px;
        padding: 5px;
        
    }

}





