

.item-cart {
  display: grid;
  gap: 20px;
  background-color: rgb(252, 252, 252);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;

}

  .items-buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    
  }

  .item-cart img {
    width: 20px;
    transform: rotate(90deg);
  }

  .button-remove{
    margin-bottom: 30px;
  }

  .p-widht{
    width: 150px;
  }

