.tele-container{
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 470px;
    
}

.content h1{
    color: rgb(219, 184, 9);
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    text-align: center;

}

.tele-image{
    object-fit: contain;
    max-height: 350px;  
    margin-top: 0px;
}

.price-guitar h3{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}