* {font-family: 'Roboto', sans-serif;}

.App {
  text-align: center;
}

.App-header {
  padding: 50px;
  background-color: #ffffff;
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  color: rgb(75, 0, 0);
}


