* {font-family: 'Roboto', sans-serif;}

.App {
  text-align: center;
}


h2{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.ItemList{
  
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 15px;
    max-width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  @media screen and (max-width: 400px) {
    
    .ItemList{
      margin-left: 3px;
    }
        
    }
 
  

